body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #fdfbfb, #ebedee); 
}
.loader {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #c5dff8; 
  border-right: 10px solid #b8e0d2; 
  border-bottom: 10px solid #fce2ce;
  border-left: 10px solid #ffd3da; 
  animation: spin 1.3s linear infinite;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}
 @keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } 
}